@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w wypożyczalni filmów</h1>
    <p>Rajerestruj się i zaloguj by korzystać z naszych usług</p>
</div>
